<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta name="viewport" content="width=960" /> 	
		<meta name="robots" content="index, follow" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="pragma" content="no-cache" />

<!-- 
//!			
//! Provide the @project_title@ property in the pre-process build file.
//!
-->
		<title>@project_title@</title>
		
		<link rel="icon" href="favicon.ico" type="image/ico" />
		<link rel="shortcut icon" href="favicon.ico" type="image/ico" />
		<link rel="stylesheet" type="text/css" href="flash/css/index.css" />
		
		<script type="text/javascript" src="flash/js/swfobject.js"></script>
		<script type="text/javascript" src="flash/js/swfaddress.js"></script> 
		<script type="text/javascript">
			function dontTrack() {
			}
		
			SWFAddress.setTracker("dontTrack");
	
//!			
//! Provide the @google_analytics_account@ and @google_analytics_prefix@ properties in the pre-process build file.
//!
			var flashvars = {
			 	ga_account: "@google_analytics_account@",
			 	ga_path: "@google_analytics_prefix@"
			};			 
			
			var params = {};
			params.base = "flash/swf";
			params.wmode = "opaque";
			params.bgcolor = "#000000";
			params.allowfullscreen = "true";			
			
			var attributes = {};	
//!			
//!	Provide the @project_swf@ property in the pre-process build file.		
//! The @timecode@ prop is replaced by an actual timecode at runtime.
//! This ensures that with each build, the swf is forced to reload in a browser.
//!
			// Flash Build version: @timecode@
			swfobject.embedSWF("flash/swf/@project_swf@?@timecode@", "flashcontent", "100%", "100%", "9.0.28.0", "flash/swf/expressinstall.swf", flashvars, params, attributes);
		</script>
		
		<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
		<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker(flashvars.ga_account);
			pageTracker._trackPageview(flashvars.ga_path + "/html");
		} catch(err) {}

		</script>
		
	</head>
	<body>
		<div id="flashcontent">
			<div id="container">
				*** Insert content for devices that don't support Flash. ***
			</div>
		</div>
	</body>
</html>